[access]
	inheritFrom = Public-Plugins
[submit]
	action = inherit
[project]
	description = Plugin to allow an administrator to persist configured log levels across restarts
[access "refs/*"]
	create = group plugins-log-level
	owner = group plugins-log-level
	forgeAuthor = group Project Owners
	forgeCommitter = group Project Owners
